* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

.bookSection {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .bookSection {
    grid-template-columns: repeat(3, 1fr);
  }
}

.books {
  border-radius: 1rem;
  padding: 1rem 2rem;
  background: white;
}
